{
  "openapi": "3.1.0",
  "info": {
    "title": "Pond3r API",
    "description": "The Pond3r API allows you to retrieve cryptocurrency price data and other blockchain information through natural language queries.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pond3r.xyz"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "description": "Submit a natural language query for processing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "A natural language query about cryptocurrency prices",
                    "example": "Get the current price of ETH"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message submitted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["processingId", "status"],
                  "properties": {
                    "processingId": {
                      "type": "string",
                      "description": "Unique identifier for tracking the message processing status",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "status": {
                      "type": "string",
                      "description": "Initial status of the request",
                      "enum": ["PENDING"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request or invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{processingId}/status": {
      "get": {
        "description": "Get the status and result of a processed message",
        "parameters": [
          {
            "name": "processingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The processing ID returned from the message submission"
          }
        ],
        "responses": {
          "200": {
            "description": "Message processing status and result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Current status of the message processing",
                      "enum": ["PENDING", "PROCESSING", "FINISHED", "ERROR"]
                    },
                    "result": {
                      "type": "object",
                      "description": "The processed result (only present when status is FINISHED)",
                      "properties": {
                        "result": {
                          "type": "string",
                          "description": "Human-readable response containing price information"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status of the request",
                          "enum": ["success", "error", "pending"]
                        }
                      }
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message if processing failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Processing ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/protocols/data-available": {
      "get": {
        "description": "Get a list of all available protocols, chains, and data sources that can be queried",
        "responses": {
          "200": {
            "description": "List of available data sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["protocols", "farcaster", "marketData", "wallet", "ens"],
                  "properties": {
                    "protocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["name", "version", "chain_id"],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the protocol"
                          },
                          "version": {
                            "type": "string",
                            "description": "Version of the protocol"
                          },
                          "chain_id": {
                            "type": "string",
                            "description": "Blockchain network identifier"
                          }
                        }
                      }
                    },
                    "farcaster": {
                      "type": "object",
                      "properties": {
                        "trendingTopics": {
                          "type": "string",
                          "description": "Provides access to Farcaster trending topics"
                        },
                        "trendingTokens": {
                          "type": "string",
                          "description": "Provides access to Farcaster trending tokens"
                        },
                        "userCasts": {
                          "type": "string",
                          "description": "Retrieves casts by a specific Farcaster user"
                        },
                        "searchCasts": {
                          "type": "string",
                          "description": "Enables searching Farcaster casts by keywords"
                        },
                        "searchUsers": {
                          "type": "string",
                          "description": "Enables searching Farcaster users by keywords"
                        },
                        "tokenMentions": {
                          "type": "string",
                          "description": "Tracks token mentions specifically on Farcaster"
                        }
                      }
                    },
                    "marketData": {
                      "type": "object",
                      "properties": {
                        "tokenInfo": {
                          "type": "string",
                          "description": "Provides general information for a token, including description, market cap, and volume"
                        },
                        "tokenPrices": {
                          "type": "string",
                          "description": "Provides current and historical price data for tokens"
                        },
                        "topGainersLosers": {
                          "type": "string",
                          "description": "Lists top cryptocurrency gainers and losers"
                        },
                        "recentlyAddedCoins": {
                          "type": "string",
                          "description": "Lists recently added cryptocurrencies on market trackers"
                        }
                      }
                    },
                    "wallet": {
                      "type": "object",
                      "properties": {
                        "tokenBalances": {
                          "type": "string",
                          "description": "Retrieves token balances for a given wallet address or ENS name"
                        }
                      }
                    },
                    "ens": {
                      "type": "object",
                      "properties": {
                        "ownerLookup": {
                          "type": "string",
                          "description": "Looks up the owner of an Ethereum Name Service (ENS) name"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PriceResponse": {
        "type": "object",
        "required": ["result", "status"],
        "properties": {
          "result": {
            "type": "string",
            "description": "Human-readable response containing price information"
          },
          "status": {
            "type": "string",
            "description": "Status of the request",
            "enum": ["success", "error", "pending"]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}