{
  "openapi": "3.1.0",
  "info": {
    "title": "Pond3r API",
    "description": "The Pond3r API allows you to retrieve cryptocurrency price data and other blockchain information through natural language queries.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pond3r.xyz"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "description": "Submit a natural language query for processing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "A natural language query about cryptocurrency prices",
                    "example": "Get the current price of ETH"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message submitted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["processingId", "status"],
                  "properties": {
                    "processingId": {
                      "type": "string",
                      "description": "Unique identifier for tracking the message processing status",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "status": {
                      "type": "string",
                      "description": "Initial status of the request",
                      "enum": ["PENDING"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request or invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{processingId}/status": {
      "get": {
        "description": "Get the status and result of a processed message",
        "parameters": [
          {
            "name": "processingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The processing ID returned from the message submission"
          }
        ],
        "responses": {
          "200": {
            "description": "Message processing status and result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Current status of the message processing",
                      "enum": ["PENDING", "PROCESSING", "FINISHED", "ERROR"]
                    },
                    "result": {
                      "type": "object",
                      "description": "The processed result (only present when status is FINISHED)",
                      "properties": {
                        "result": {
                          "type": "string",
                          "description": "Human-readable response containing price information"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status of the request",
                          "enum": ["success", "error", "pending"]
                        }
                      }
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "Error message if processing failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Processing ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PriceResponse": {
        "type": "object",
        "required": ["result", "status"],
        "properties": {
          "result": {
            "type": "string",
            "description": "Human-readable response containing price information"
          },
          "status": {
            "type": "string",
            "description": "Status of the request",
            "enum": ["success", "error", "pending"]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}