{
  "openapi": "3.1.0",
  "info": {
    "title": "Pond3r API",
    "description": "The Pond3r API allows you to retrieve cryptocurrency price data and other blockchain information through natural language queries.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pond3r.xyz"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "description": "Send a natural language query to retrieve cryptocurrency price information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "A natural language query about cryptocurrency prices",
                    "example": "Get the current price of ETH"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Price information response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceResponse"
                },
                "example": {
                  "result": "The current price of ETH is $2088.21 as of March 24, 2025.\n",
                  "threadId": "33d2a1d4-577a-4ce8-bca7-7af564761ed8",
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PriceResponse": {
        "type": "object",
        "required": ["result", "threadId", "status"],
        "properties": {
          "result": {
            "type": "string",
            "description": "Human-readable response containing price information"
          },
          "threadId": {
            "type": "string",
            "description": "Unique identifier for the conversation thread"
          },
          "status": {
            "type": "string",
            "description": "Status of the request",
            "enum": ["success", "error", "pending"]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}